body{
    height: 100vh;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
}

.containerE{
    flex: 1.50;
    background: url('/IMAGES/Fundo.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}

.containerD {
    flex: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.caixa {
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;
    width: 50vw;
    padding: 20px;
}

.formulario{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submitar{
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.8em;
    color: #575757;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}
.form-control, .form-select {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1.5vh;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .containerE, .containerD {
        height: 100%;
    }
}

@media (max-width: 480px) {
    .containerE {
        display: none;
    }

    .containerD {
        height: 100vh;
        padding: 10px;
        background-color: white;
    }
    
    body{
        background-color: white;
    }

    .caixa {
        height: 100vh;
        width: auto;
        padding: 0 3vw 30vh;
    }
    
    .formulario{
        height: 100vh;
        display: block;
    }

    .form-control, .form-select {
        width: 100%;
    }

    h1 {
        font-size: 1.6em; /* Reduzindo o tamanho para telas menores */
    }
}
