.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.caixa{
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 0.2px #8a8a8a52;
    box-shadow: 1px 1px 4px 2px rgba(134, 134, 134, 0.3);
    width: 35vw;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    margin: 5vh 2.5vw 0;
    display: flex;
    flex-direction: column;
}

hr{
    border: solid 0.5px #4b4b4b;
    border-radius: 5%;
    width: 25vw;
}

.form-control{
    width: 25vw;
}

a{
    width: 25vw;
    margin-bottom: 2.5vw;
}